@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Open Sans');
.Home {
    * {
        border: none;
    }

    .caps {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-family: 'Open Sans', sans-serif;
    }
}